body{
  margin: 0px;
  padding: 0px;
  background-color: black;
  color: white;
  margin-left: 60px;
  font-family: sans-serif; 
}
.image-dig img{
    width: 500px;
    height: 500px ;
    position: relative;
    position: fixed;
    margin-top: 140px;
   margin-left: 800px;
}
.logo{
    display: flex;
    margin-top: 0px;
}
.logo img{
    margin-top: 17px;
}
.logo h1{
    color: yellow;
    text-decoration: underline;
    text-decoration-color: aqua;
    margin-left: 10px;
}
.logo h1:hover{
   color: white;
   text-decoration-color:yellow ;
}
.slogan h1{
    max-width: 600px;
    color: rgb(230, 219, 219);
    text-shadow: 0px 0px 15px gold;
    font-size: 80px;
    font-family:serif;
}
.msg h1{
     font-family:serif;
      color: rgb(230, 219, 219);
      text-shadow: 0px 0px 15px gold;
}
.slogan h1:hover{
 color:rgba(234, 67, 67, 0.793);
   text-shadow: 0px 0px 0px red;
}
.msg h1:hover{
     color:rgba(234, 67, 67, 0.793);
   text-shadow: 0px 0px 0px red;
}

.randomQuiz-btn button{
    border-radius:10%;
    padding: 15px;
    background-color: greenyellow;
    cursor: pointer; 
    border: none;
}
.quiz-items{
    width: 100vw;
    height: 150px; /* Increased slightly to fit text */
    border: 1px solid white;
    max-width: 40%;
    border-radius: 3%;

    display: flex;
    overflow-x: scroll;
    gap: 20px;
    padding: 10px;
    scroll-behavior: smooth;
}

/* Utility to hide screens */
.hide {
    display: none !important;
}

.options-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
    margin-top: 20px;
}

.option-btn {
    background-color: #333;
    color: white;
    padding: 20px;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    text-align: left;
}

.option-btn:hover {
    background-color: aqua;
    color: black;
}

